.card-img-top{
    width: 100%55;
    object-fit: contain;
    aspect-ratio: 1/1;
    border-color: rgb(22, 74, 241);
}

.card{
    box-shadow: 10px 5px 20px rgba(172, 98, 1, 0.295);
    border-color: transparent;
    background-color: rgb(108, 44, 227);
}